<h1><%= I18n.t 'txt.fill_in_your_username_and_password' %></h1>
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <div id="login_panel" >
    <table>
      <tbody>
        <tr>
          <td style="text-align:right;width:100px"><label><%= t 'user.username' %></label></td>
          <td style="text-align:left"><%= f.text_field :username, :class => 'txt_field' %></td>
        </tr>
        <tr>
          <td style="text-align:right;width:100px"><label><%= t 'user.password' %></label></td>
          <td style="text-align:left"><%= f.password_field :password, :class => 'txt_field' %></td>
        </tr>
        <tr>
          <td align="right"><%= f.check_box :remember_me %></td>
          <td align="left"><%= t 'user.remember_me' %></td>
        </tr>
        <tr>
          <td></td>
          <td align="left"><%= f.submit t('user.login'), :class => 'submit' %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td align="left">
            <%= link_to t('user.forget_password'), new_password_reset_path %>
            &nbsp;|&nbsp;
            <%= link_to t('user.register_now'), new_account_path %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>