<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3c.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @page_title %></title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'droplicious' %>
<%#= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.6.custom.min', 'jquery.boxy' %>
    <%= active_scaffold_includes %>
    <%= stylesheet_link_tag 'active_scaffold_overrides' %>
    <%= record_select_includes %>
    <%= calendar_date_select_includes nil, :locale => I18n.locale %>
    <%= include_tiny_mce_if_needed %>

    <%= stylesheet_link_tag 'superfish' %>
    <%= javascript_include_tag 'superfish' %>
    <script type="text/javascript" >
<%#*var $j = jQuery.noConflict();%>
<%#*$j('document').ready(function(){%>
<%#*$j('#ul.sf-menu').superfish();%>
<%#*}%>
    </script>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div id="page-container">
      <div id="header">
        <div id="header_top">
          <div id="logo"><h1><%= image_tag("logo.jpg", :size => "500x60", :alt => "Logo") %></h1></div>
          <div id="header_right">
            <br/><br/>
            <div id="user_status">
              <% if current_user %>
                <%= current_user.username %> |
                <%= link_to_unless_current I18n.t('user.my_payment_reminders'), user_payment_remindings_path(current_user) %> |
                <%= link_to_unless_current I18n.t('user.my_expiration_reminders'), user_expiration_remindings_path(current_user) %> |
                <%= link_to_unless_current I18n.t('user.my_account'), account_path(current_user) %>  |
                <%= link_to_unless_current I18n.t('user.logout'), user_session_path, :method => :delete %>
              <% else -%>
                <%= link_to_unless_current I18n.t('user.register'), new_account_path %>  |
                <%= link_to_unless_current I18n.t('user.login'), new_user_session_path %>
              <% end -%>
            </div>
          </div>
        </div>
      </div>
       <div id="nav">
        <ul>
          <li><%= link_to I18n.t('site.home'), home_path %></li>
          <li><%= link_to I18n.t('site.contract_management'), contracts_path %></li>
          <li><%= link_to I18n.t('site.license_management'), licenses_path  %></li>
          <li><%= link_to I18n.t('site.archive_management'), archives_path %></li>
          <li>
            <%= link_to I18n.t('site.user_management'), "#",:class => 'drops' %>
            <ul class="licious" style="display:none;">
              <li><%= link_to I18n.t('site.user_roles'), users_path %></li>
              <li><%= link_to I18n.t('site.user_ycrole'), user_ycroles_path %></li>
              <li><%= link_to I18n.t('site.role_management'), ycroles_path %></li>
            </ul>
          </li>
          <li>
            <%= link_to I18n.t('site.system_management'), "#", :class => "drops" %>
            <ul class="licious" style="display:none;">
              <li><%= link_to I18n.t('site.system_settings'), settings_path %></li>
              <li><%= link_to I18n.t('site.system_logs'), audits_path %></li>
            </ul>
          </li>
          <li><%= link_to I18n.t('site.contact'), contact_path %></li>
          <li><%= link_to I18n.t('site.about'), about_path %></li>
          <li><%= link_to I18n.t('site.help'), help_path %></li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <div id="content">
        <% if flash[:notice] -%>
          <div id="flash_notice"><%= flash[:notice] %></div>
        <% end -%>

        <% if flash[:error] -%>
          <div id="flash_error"><%= flash[:error] %></div>
        <% end -%>

        <%= yield %>
      </div>

      <div id="footer">
        <div class="sitemap">
          <br/>
          <p>&copy; 2010 <%= I18n.t 'site.copyright' %></p>
        </div>
      </div>
      <% if ENV["RAILS_ENV"] == "development" %>
        <div id="debug">
          <a href="#" onclick="Element.toggle('params_debug_info'); return false">params</a> |
          <a href="#" onclick="Element.toggle('session_debug_info'); return false">session</a> |
          <a href="#" onclick="Element.toggle('env_debug_info'); return false">env</a> |
          <a href="#" onclick="Element.toggle('request_debug_info'); return false">request</a>

          <fieldset id="params_debug_info" class="debug_info" style="display :none">
            <legend>params</legend>
            <%= debug params %>
          </fieldset>
          <fieldset id="session_debug_info" class="debug_info" style="display :none">
            <legend>session</legend>
            <%= debug session %>
          </fieldset>
          <fieldset id="env_debug_info"  class="debug_info"  style="display :none" >
            <legend>env</legend>
            <%= debug request.env %>
          </fieldset>
          <fieldset id="request_debug_info" class="debug_info" style="display:none" >
            <legend>request</legend>
            <%= debug request %>
          </fieldset>
        </div>
      <% end %>
    </div>
  </body>
</html>